* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  background-color: aqua;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .header .logo-header img {
    height: 90px;
    width: 120px; }

.main-index {
  background-color: crimson;
  text-align: center;
  min-height: 70vh; }
  .main-index .card {
    margin: 0 auto;
    max-width: 350px; }
    .main-index .card h2 {
      font-family: sans-serif; }
      .main-index .card h2:hover {
        color: blue;
        background-color: black; }

.footer-index {
  background-color: #0deb0d;
  display: flex;
  flex: row;
  justify-content: space-between;
  min-height: 10vh; }
